<div class="basic-container music-collection-container d-flex flex-column align-items-center justify-content-center">
  <h1 class="text-center mb-5">PARTITURAS POR REGIÃO DO BRASIL</h1>
  <div class="regions-container d-flex justify-content-center">
    <a routerLink="norte" class="add-border d-flex flex-column align-items-center justify-content-around p-3">
      <img src="../../../assets/images/regions/norte.svg" alt="">
      <h3 class="mt-3 mb-0">Norte</h3>
    </a>
    <a routerLink="nordeste" class="add-border d-flex flex-column align-items-center justify-content-around p-3">
      <img src="../../../assets/images/regions/nordeste.svg" alt="">
      <h3 class="mt-2">Nordeste</h3>
    </a>
    <a routerLink="centro-oeste" class="add-border d-flex flex-column align-items-center justify-content-around p-3">
      <img src="../../../assets/images/regions/centro-oeste.svg" alt="">
      <h3 class="mt-2">Centro-Oeste</h3>
    </a>
    <a routerLink="sudeste" class="add-border d-flex flex-column align-items-center justify-content-around p-3">
      <img src="../../../assets/images/regions/sudeste.svg" alt="">
      <h3 class="mb-0 mt-2">Sudeste</h3>
    </a>
    <a routerLink="sul" class="add-border d-flex flex-column align-items-center justify-content-around p-3">
      <img src="../../../assets/images/regions/sul.svg" alt="">
      <h3 class="mt-2">Sul</h3>
    </a>
  </div>
  <div class="text text-center w-75">
    <p>
      O acervo musical aqui apresentado é composto por 50 composições da música popular tradicional 
      brasileira que integram o acervo do Grupo Aruanda. É um fruto cultivado desde 1960 e que tem sido 
      regado com pesquisas e com um saber-fazer que é próprio do Grupo e que vem sendo construído ao longo 
      de décadas.
    </p>
    <p>
      Por muito tempo, vários dos musicistas do Aruanda aprenderam a tocar e a cantar no próprio coletivo, 
      ou seja, predominava entre os músicos a transmissão de conhecimento baseada na oralidade, assim como 
      acontece nos grupos tradicionais da cultura popular brasileira. Entretanto, apesar da importância da 
      oralidade no saber-fazer do Grupo Aruanda, como forma de registro e consequente preservação de seu 
      acervo, transcrevemos estas 50 músicas aqui disponibilizadas em partituras e cifras.
    </p>
    <p>
      É preciso ressaltar que esta é apenas uma parte do acervo musical do Grupo, que possui mais de 100 
      músicas da cultura popular brasileira pesquisadas. Os registros em partitura e em cifra materializam 
      todo esse saber-fazer, entendido como o modo de tocar cada um dos instrumentos musicais de cada 
      música; o modo de cantar e de interpretar as canções; e os arranjos musicais elaborados pelo Grupo 
      desde a sua fundação até os dias atuais.
    </p>
  </div>
</div>
