@import 'src/styles/variables.scss';

.title-container {
  img {
    position: relative;
    width: 90%;
    opacity: 0.2;
  }

  .region-name {
    font-family: $impact;
    position: absolute;
    top: 26%;
    margin-left: 1%;
  }
}

.music-container {
  font-family: $robotoBold;
  width: 40%;
  border: 1px solid $pink;
  border-radius: 20px;

  a {
    color: $white;
    cursor: pointer;

    &:hover {
      color: $yellow;
    }
  }

//   i-frame {
//     #document {
//       html {
//         body {
//           div {
//             div {
//               div.compactSound {
//                 background-color: $dark-gray !important;
//               }
//             }
//           }
//         }
//       }
//     }
//   }
}

@media only screen and (max-width: 768px) and (min-width: 600px) {
  .title-container {
    .region-name {
      top: 24%;
    }
  }
}

@media only screen and (max-width: 600px) {
  // .title-container {
  //   h4 {
  //     top: 27%;
  //   }
  // }
}