@font-face {
  font-family: 'Impact';
  src: url("/assets/fonts/impact.tff") format("truetype");
}

@font-face {
  font-family: 'Haetten';
  src: url("/assets/fonts/haetten.ttf") format("truetype");
}