@font-face {
  font-family: 'Impact', sans-serif;
  src: url("/assets/fonts/impact.tff") format("truetype");
}

@font-face {
  font-family: 'Haetten', sans-serif;
  src: url("/assets/fonts/haetten.ttf") format("truetype");
}

@font-face {
  font-family: 'RobotoCondensed', sans-serif;
  src: url("/assets/fonts/RobotoCondensed-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'RobotoCondensedLight', sans-serif;
  src: url("/assets/fonts/RobotoCondensed-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'RobotoCondensedBold', sans-serif;
  src: url("/assets/fonts/RobotoCondensed-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Anton', sans-serif;
  src: url("/assets/fonts/Anton-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'BebasNeue', sans-serif;
  src: url("/assets/fonts/BebasNeue-Regular.ttf") format("truetype");
}