@font-face {
  font-family: 'Impact';
  src: url("/assets/fonts/impact.tff") format("truetype");
}

@font-face {
  font-family: 'Haetten';
  src: url("/assets/fonts/haetten.ttf") format("truetype");
}

@font-face {
  font-family: 'RobotoCondensed';
  src: url("/assets/fonts/RobotoCondensed-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'RobotoCondensedLight';
  src: url("/assets/fonts/RobotoCondensed-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'RobotoCondensedBold';
  src: url("/assets/fonts/RobotoCondensed-Bold.ttf") format("truetype");
}