<div class="header-container container-fluid d-flex">
  <div class="logo-container my-3">
    <img class="logo" width="130" src="../../../assets/images/logos/grupo_aruanda.svg" routerLink="main-page">
  </div>
  <div class="header-links container-fluid d-flex align-items-center">
    <ul class="nav container-fluid d-flex justify-content-between">
      <div class="d-flex header-items">
        <li class="nav-item">
          <a class="nav-link" id="link" routerLink="pagina-inicial" fragment="aboutUs">SOBRE NÓS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="link" href="#">ARQUIVOS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="link" routerLink="">AGENDA</a>
        </li>
      </div>
      <div>
        <li class="nav-item">
          <a class="nav-link contact-us px-4" id="link" (click)="scrollToFooter()">CONTATO</a>
        </li>
      </div>
    </ul>
  </div>
</div>