@import 'src/styles/variables.scss';

.header-container {
  position: fixed;
  background-color: $dark-gray;
  z-index: 1;
  height: 108px;

  .logo-container {
    margin-left: 20px;
    width: 155px;

    .logo {
      cursor: pointer;
      transition: all .2s ease-in-out;
    
      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .header-links {
    font-family: $impact;
    color: $white;
    font-size: 24px;

    .header-items {
      margin-left: 20px;
    }

    .nav-link {
      color: $white;
      cursor: pointer;

      &:hover,
      &:active {
        color: $blue;
        transform: scale(1.05);
      }

      &.contact-us {
        border: 1px solid $yellow;
        border-radius: 40px;

        &:hover,
        &:active {
        color: $yellow;
        transform: scale(1.1);
        }
      }
    }
  }
}