<nav class="header-container navbar navbar-expand-lg container-fluid d-flex">
  <div class="container-fluid">
    <div class="logo-container my-3">
      <a class="navbar-brand" (click)="scrollToTop()">
        <img *ngIf="showHeaderLogo" class="logo" src="../../../assets/images/logos/grupo_aruanda.svg" routerLink="main-page">
      </a>
    </div>
    <div class="header-links" id="navbarNavDropdown">
      <ul class="navbar-nav container-fluid d-flex justify-content-between">
        <div class="d-flex header-items">
          <li class="nav-item dropdown" ngbDropdown>
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
              SOBRE NÓS
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" ngbDropdownMenu>
              <li ngbDropdownItem><a class="dropdown-item" disabled="true">EM BREVE</a></li>
              <!-- <li ngbDropdownItem><a class="dropdown-item" href="#">NOSSA HISTÓRIA</a></li>
              <li ngbDropdownItem><a class="dropdown-item" href="#">DIRETORIA</a></li>
              <li ngbDropdownItem><a class="dropdown-item" href="#">COMPONENTES</a></li> -->
            </ul>
          </li>
          <li class="nav-item dropdown" ngbDropdown>
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
              ACERVO
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" ngbDropdownMenu>
              <li ngbDropdownItem><a class="dropdown-item" href="#">MUSICAL</a></li>
              <li ngbDropdownItem><a class="dropdown-item">VIDEOGRÁFICO</a></li>
              <li ngbDropdownItem><a class="dropdown-item">FOTOGRÁFICO</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="link" disabled="true">PORTFÓLIO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="link" disabled="true">CLIPPING</a>
          </li>
        </div>
        <div>
          <li class="nav-item">
            <a class="nav-link contact-us px-4" id="link" (click)="scrollToFooter()">CONTATO</a>
          </li>
        </div>
      </ul>

      <nav>
        <div class="navbar">
          <div class="container nav-container">
              <input class="checkbox" type="checkbox" name="" id="" />
              <div class="hamburger-lines">
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
              </div>  
            <div class="menu-items">
              <li><a href="#">PORTFÓLIO</a></li>
              <li><a href="#">PORTFÓLIO</a></li>
              <li><a href="#">PORTFÓLIO</a></li>
              <li><a href="#">PORTFÓLIO</a></li>
              <li><a href="#">PORTFÓLIO</a></li>
            </div>
          </div>
        </div>
      </nav>
    </div>

    
  