@import 'src/styles/variables.scss';

.header-container {
  position: fixed;
  background-color: $dark-gray;
  z-index: 1;
  height: 14vh;

  .logo-container {
    margin-left: 20px;
    width: 155px;

    .logo {
      cursor: pointer;
      transition: all .2s ease-in-out;
      width: 80%;
    
      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .header-links {
    font-family: $bebasNeue;
    color: $white;
    font-size: 24px;

    .header-items {
      margin-left: 20px;

      .dropdown-menu {
        .dropdown-item {
          &:hover {
            color: $purple;
            cursor: pointer;
          }

          &:active {
            background-color: transparent;
          }

          &.disabled {
            &:hover {
              background-color: transparent;
            }
            color: $disabled
          }
        }
      }
    }

    .nav-item {
      margin-right: 3%;
    }

    .nav-link {
      color: $white;
      cursor: pointer;

      &:hover,
      &:active {
        color: $blue;
        transform: scale(1.05);
      }

      &.contact-us {
        border: 1px solid $yellow;
        border-radius: 40px;

        &:hover,
        &:active {
        color: $yellow;
        transform: scale(1.1);
        }
      }
    }
  }
}

.navbar-collapse.collapse.show {
  background-color: $dark-gray;

  .header-items {
    flex-direction: column;
    padding: 1.5rem 0;

    .dropdown-menu {
      background-color: transparent;

      .dropdown-item {
        color: $white;
        &:hover:not(:disabled) {
          color: $purple;
          background-color: transparent;
        }

        &:active {
          background-color: transparent;
        }
      }
    }
  }

  .nav-link {
    &:hover {
      transform: scale(1);
    }
  }
  
  .contact-us-container {
    .nav-item {
      padding-bottom: 1.5rem;
    }
    
    .contact-us {
      width: fit-content;
      
      &:hover {
        transform: scale(1);
      }
    }
  }
}

a.navbar-toggler {
  cursor: pointer;
  position: fixed;
  top: 4%;
  right: 2.5%;
  color: $green;
}

@media only screen and (max-width: 800px) {
  .logo {
    width: 60% !important;
  }

  a.navbar-toggler {
    font-size: 100%;
  }
}