
@import 'src/styles/variables.scss';

h2 {
  font-family: $impact;
}

.basic-container {
  min-height: 100vh;
  padding: 20vh 0;
  background-color: $dark-gray;
  color: $white;
}

.text-impact {
  font-family: $impact;
}

.text-roboto {
  font-family: $roboto;
}

.text-roboto-bold {
  font-family: $robotoBold;
}