
@import 'src/styles/variables.scss';

h2 {
  font-family: $bebasNeue;
}

.basic-container {
  min-height: 100vh;
  padding: 20vh 0;
  background-color: $dark-gray;
  color: $white;
}

.text-impact {
  font-family: $impact, sans-serif;
}

.text-roboto {
  font-family: $roboto, sans-serif;
}

.text-roboto-bold {
  font-family: $robotoBold, sans-serif;
}

.text-bebas {
  font-family: $bebasNeue, sans-serif;
}