/* Colors */
$dark-gray: #22272E;
$yellow: #FBC80D;
$red: #ED3237;
$blue: #0098DA;
$green: #01A451;
$orange: #FB8E0D;
$pink: #ED3297;
$white: #FDFDFD;

/* Fonts */
$impact: Impact;
$haetten: Haetten;
$roboto: RobotoCondensed;
$robotoLight: RobotoCondensedLight;
$robotoBold: RobotoCondensedBold;

