@import 'src/styles/variables.scss';

.main-container {
  background-color: $dark-gray;
  color: $white;
  height: 100vh;

  .title {
    font-family: $impact;
  }

  .text {
    font-family: $robotoBold;
    font-size: 24px;
    letter-spacing: .5px;
    font-weight: lighter;
  }
}