@import 'src/styles/variables.scss';

.basic-container {
  padding-top: 14vh;
}

.cards-container {
  display: flex;
  gap: 40px;

  .__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 20vw;
    text-align: center;
  
    background-color: $black;
    border: 1px solid $black;
    border-radius: 18px;

    -webkit-box-shadow: 5px 5px 5px 0px rgba($black, 0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba($black, .75);
    box-shadow: 5px 5px 5px 0px rgba($black,0.75);

    h5 {
      font-family: $robotoBold;
      padding: 15px 0px;
    }

    p {
      text-align: left;
      font-size: .9rem;
    }
  
    a {
      padding: 10px;
      cursor: pointer;
  
      fa-icon {
        padding: 10px;
        border: 5px solid $green;
        border-radius: 50px;
        font-size: 1.6em;
        color: $green;

        &:hover {
          color: $white;
          border-color: $white;
        }
      }

    }
  }
}

.info-text {
  border: 2px solid $yellow;
  border-radius: 8px;
}

@media only screen and (max-width: 780px) {
  .cards-container {
    flex-wrap: wrap;
    justify-content: center;

    .__card {
      max-width: 38vw;
    }
  }

  .info-text-container {
    width: 85% !important;
  }
}

@media only screen and (max-width: 400px) {
  .basic-container {
    h1 {
      padding: 0 1rem;
    }

    .cards-container {
      padding-top: 1.3rem !important;

      .__card {
        max-width: 75vw;
      }
    }
  
    .info-text-container {
      h5 {
        padding: 2rem !important;
      }
    }
  }
}