@import 'src/styles/variables.scss';

.basic-container {
  padding-top: 14vh;

  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
  }
}

gallery {
  z-index: 0;
  background-color: $dark-gray;
  width: 70%;
}

::ng-deep gallery {
  gallery-core {
    height: 77vh;
  }

  gallery-nav {
    i {
      svg {
        fill: $yellow !important;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  ::ng-deep gallery {
    gallery-core {
      height: 350px;
    }
  }
}