<div class="basic-container">
  <h1 class="text-bebas text-center pt-5 pb-3">
    IMPORTANTES CONDECORAÇÕES RECEBIDAS
  </h1>
  <div class="cards-container d-flex p-5">
    <div *ngFor="let decoration of mainDecorations" class="__card p-4">
      <h5>{{ decoration?.title }}</h5>
      <p>{{ decoration?.text }}</p>
      <a (click)="openPdfModal(decoration?.url, decoration?.title)"
        ><fa-icon [icon]="icon"></fa-icon
      ></a>
    </div>
  </div>
  <div
    class="d-flex container-fluid justify-content-center text-roboto py-5 w-50"
  >
    <h5 class="info-text text-center p-5">
      O <b>Grupo Aruanda</b> possui duas solicitações em instâncias municipais e
      estaduais para que consiga seu registro nos Livros de tombamento do Iphan
      como patrimônio cultural imaterial.
    </h5>
  </div>
</div>
