<div class="basic-container">
  <h1 class="text-impact text-center py-5">
    IMPORTANTES CONDECORAÇÕES RECEBIDAS:
  </h1>
  <div class="d-flex container-fluid main-gallery-container pb-5">
    <div class="title p-3" [innerHTML]="title"></div>
    <gallery
      class="pb-3"
      [items]="mainDecorations"
      [thumb]="false"
      loadingStrategy="lazy"
      loadingAttr="lazy"
      reserveGesturesAction="true"
      gestures="true"
      (indexChange)="setTitle($event)">
    </gallery>
  </div>
  <div class="d-flex container-fluid justify-content-center text-roboto py-5 w-50">
    <h5 class="info-text text-center p-5">
      O <b>Grupo Aruanda</b> possui duas solicitações em instâncias municipais e 
      estaduais para que consiga seu registro nos Livros de tombamento do Iphan como patrimônio 
      cultural imaterial.
    </h5>
  </div>
  <div class="d-flex flex-column align-items-center second-gallery-container pt-5">
    <h1 class="text-impact text-center py-5">OUTRAS CONDECORAÇÕES:</h1>
    <gallery
      id="second-gallery"
      class="pb-5"
      [items]="otherDecorations"
      [thumb]="false"
      loadingStrategy="lazy"
      loadingAttr="lazy"
      reserveGesturesAction="true"
      gestures="true">
    </gallery>
  </div>
</div>
