@import 'src/styles/variables.scss';

.basic-container {
  padding-top: 14vh;

  h1 {
    color: $yellow;
  }
}

.main-gallery-container {
  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
  }
}

.info-text {
  border: 1px solid $yellow;
  border-radius: 8px;
}

.second-gallery-container {
  ::ng-deep gallery {
    gallery-core {
      width: 70%;
    }
  }
}

gallery {
  z-index: 0;
  background-color: $dark-gray;
  width: 70%;
}

::ng-deep gallery {
  gallery-core {
    height: 77vh;
  }

  gallery-nav {
    i {
      svg {
        fill: $yellow !important;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .main-gallery-container {
    display: flex;
    flex-direction: column-reverse;

    .title {
      width: 100%;
    }
  }

  gallery {
    width: 100%;
  }

  ::ng-deep gallery {
    gallery-core {
      height: 300px;
      width: 100% !important;
    }
  }
}