<div class="about-us-container d-flex flex-column align-items-center">
  <h2 class="title text-center mt-5 mb-4">SOBRE NÓS</h2>
  <div class="text text-center w-75">
    <p>
      O Grupo Aruanda é uma entidade cultural, cujo objetivo principal é a pesquisa
      a preservação e a divulgação das músicas e danças folclóricas brasileiras, através
      da projeção para a linguagem cênica.
    </p>
    <p>
      Fundado em 1960 com atuação ininterrupta, é uma das mais antigas e tradicionais 
      companhias de danças folclóricas do Brasil, pioneira no gênero em Minas Gerais.
      O Grupo pesquisa e executa as danças e cantos mineiros, mas interpreta com igual 
      propriedade as danças típicas de todas as regiões do Brasil, utilizando figurinos
      específicos para cada dança apresentada. Por isso, realiza desde apresentações
      focalizando apenas uma região brasileira até espetáculos reunindo, de uma só vez,
      danças de todo o país.
    </p>
  </div>
</div>
