@import 'src/styles/variables.scss';

.modal-header {
  .modal-title {
    font-family: $robotoBold;
  }

  fa-icon {
    cursor: pointer;
    font-size: 1.5em;
  }
}

.modal-body {
  padding: 0 !important;
}