<div class="container-fluid main-page-container d-flex justify-content-center">
  <div class="name-container d-flex flex-column align-items-center justify-content-center">
    <img class="name" width="350" src="../../../assets/images/logos/grupo_aruanda.svg">
    <a (click)="scrollToAboutUsSection()">
      <fa-icon [icon]="chevronDown" class="chevron-down-icon fa-4x"></fa-icon>
    </a>
  </div>
  <img class="aruandeiro" src="../../../assets/images/logos/aruandeiro_colorido.svg">
</div>
<about-us id="aboutUs"></about-us>