@import 'src/styles/variables.scss';

.main-page-container {
  height: 85vh;
  background-color: $dark-gray;

  .name-container {
    margin: 300px 300px 0 0;

    a {
      &:hover {
        transition: all .2s ease-in-out;
        transform: scale(1.13);
      }

      .chevron-down-icon {
        color: $white;
        cursor: pointer;
      }
    }
  }

  .aruandeiro {
    position: absolute;
    width: 500px;
    right: 265px;
    bottom: 30px;
  }
}