@import 'src/styles/variables.scss';

.main-page-container {
  .main-logo-container {
    max-width: 50vw;
  }

  a {
    margin-right: 26%;

    &:hover {
      transition: all .2s ease-in-out;
      transform: scale(1.13);
    }

    .chevron-down-icon {
      color: $white;
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 820px) {
  .main-page-container {
    height: 80vh;

    justify-content: start !important;

    .main-logo-container {
      .main-logo {
        display: none;
      }
    }

    .mobile-logo-container {
      margin-top: 3vh;

      .aruandeiro-mobile {
        display: block !important;
      }
    }

    a {
      margin-right: 0;
    }
  }
}

@media only screen and (max-width: 600px) {
  .main-page-container {
    height: 60vh;

    .aruandeiro-mobile {
      width: 80%;
    }
  }
}