<div class="basic-container history-container">
  <h2>HISTÓRIA DO GRUPO ARUANDA</h2>

  <div class="articles-container">
    <article class="first">
      <span>
        <p>
          A história do Grupo Aruanda se inicia no ano de 1960, no Colégio
          Clemente Faria, localizado no Bairro Prado, Belo Horizonte/MG.<br />
          O educador e folclorista Paulo César Valle, diretor do colégio, viu a
          professora de Educação Física, Maria Aparecida Izar, lecionar danças
          folclóricas brasileiras a estudantes do curso ginasial e vislumbrou a
          possibilidade de criar um grupo dedicado a pesquisar e divulgar a
          cultura popular brasileira por meio da música e da dança.
        </p>
        <p>
          Jovens estudantes do Colégio Clemente Faria, com idade entre 11 e 14
          anos, atenderam ao convite do Prof. Paulo e passaram a ensaiar, todos
          os dias após suas aulas, no pátio da escola. A estreia do grupo
          aconteceu no salão de baile do antigo IAPETC, atual INSS, localizado
          na Avenida Afonso Pena, esquina com Rua Curitiba, no Centro de Belo
          Horizonte/MG, em um evento de encerramento do ano letivo de 1960.
        </p>
      </span>
      <span class="picture">
        <img
          src="assets/images/history/ensaio-colegio-clemente-faria.jpg"
          alt="Foto de ensaio no pátio do Colégio Clemente Faria"
        />
        <p class="subtitle">
          Ensaio no pátio do Colégio Clemente Faria - foto de arquivo do Aruanda
        </p>
      </span>
    </article>

    <article class="second article-spacing">
      <p>
        O sucesso da primeira apresentação acendeu no grupo o desejo da
        continuidade do trabalho e, então, passou a ser denominado Rancho
        Folclórico do Colégio Clemente Faria.<br />
        Ao longo do ano de 1961, foram realizadas apresentações em quadras e
        praças de Belo Horizonte/MG e a primeira turnê interestadual do grupo no
        estado do Espírito Santo. Em 1962, o Prof. Paulo promoveu uma série de
        viagens com os integrantes do Rancho Folclórico, para, inicialmente,
        realizar pesquisas sobre as expressões culturais mineiras: Reinados e
        Reisados, Quadrilha, Pastorinhas, Catira, Dança do Carneiro, além de
        danças de ciganos da família dos Castilhos, acampados na região do
        Barreiro, em Belo Horizonte.
      </p>
      <span class="picture">
        <img
          src="assets/images/history/pesquisa-festa-nossa-senhora-rosario.jpg"
          alt="Foto da Festa da Nossa Senhora do Rosario"
        />
        <p class="subtitle">
          Festa da Nossa Senhora do Rosario - foto de arquivo do Aruanda
        </p>
      </span>
    </article>

    <article class="third article-spacing">
      <span class="text">
        <p>
          Assim, o grupo foi crescendo, ampliando o seu repertório e
          diversificando o roteiro de suas apresentações, até que, em 1967,
          passou a ser denominado como Grupo Folclórico Aruanda e adquiriu
          personalidade jurídica, como uma entidade cultural sem fins
          lucrativos, cujos integrantes doavam seu trabalho de forma voluntária,
          sem auferir retorno financeiro com essa atividade.
        </p>
        <p>
          O nome do grupo foi inspirado no verso do canto afro-diaspórico do
          Maracatu, cujo significado é “terra de luz, terra de paz, mansão dos
          bem-aventurados”.
        </p>
        <p>
          Assim, o final da década de 1960 foi marcado por diversos trabalhos do
          Grupo Aruanda: em 1967 o grupo se apresentou no Festival Nacional de
          Folclore, em Brasília/DF; em 1968, atuou em um curta-metragem sobre
          tradições mineiras e assumiu um programa na TV Belo Horizonte (atual
          TV Globo Minas), no qual, a cada semana, era apresentada uma dança
          brasileira; e em 1969, o Prof. Paulo César Valle recebeu, como diretor
          do Grupo Aruanda, a medalha de Honra ao Mérito, entregue pelo prefeito
          de Belo Horizonte.
        </p>
      </span>
      <span class="picture">
        <img
          src="assets/images/history/filmagem-curta-metragem-1.jpg"
          alt="Foto da filmagem de curta-metragem da produtora Argus, em Sabará-MG"
          class="pb-2"
        />
        <img
          src="assets/images/history/filmagem-curta-metragem-2.jpg"
          alt="Foto da filmagem de curta-metragem da produtora Argus, em Sabará-MG"
        />
        <p class="subtitle">
          Filmagem de curta-metragem da produtora Argus, em Sabará-MG - foto de
          arquivo do Aruanda
        </p>
      </span>
    </article>

    <article class="fourth article-spacing">
      <p>
        Ao longo da década de 1970, o Grupo Aruanda participou de importantes
        eventos: inauguração do Palácio das Artes, em Belo Horizonte; espetáculo
        de luz e som Inconfidência Mineira e Festival de Inverno, realizados em
        Ouro Preto/MG; VII Festival Nacional de Brasília/DF; desfile de carnaval
        com a Escola de Samba Unidos dos Guaranis; apresentações com a Orquestra
        Sinfônica de Minas Gerais e o Coral do Minas Tênis Clube (espetáculo
        Folk-Danças Brasileiras); dentre outros.
      </p>
      <span class="picture">
        <img
          src="assets/images/history/folia-sao-sebastiao.jpg"
          alt="Foto da Folia de São Sebastião"
        />
        <p class="subtitle">
          Apresentação da Folia de São Sebastião, em São Paulo - foto de arquivo
          do Aruanda
        </p>
      </span>
    </article>

    <article class="fifth article-spacing">
      <span>
        <p>
          Os anos 1980 foram marcados pelo início das atividades do Grupo
          Aruanda no segundo andar do “Castelinho”, edifício histórico
          localizado na esquina da Avenida Afonso Pena com a Rua Espírito Santo,
          atual sede do grupo. A agenda do grupo, ao longo dessa década, incluiu
          a participação em Festivais de Cultura Popular, Semana do Folclore,
          Festival de Artes Cênicas, Série Domingo no Parque, Festival de Comida
          Típica Mineira, inauguração do Teatro de Arena do Parque das
          Mangabeiras, reinauguração do Teatro Francisco Nunes, entre outros
          eventos na cidade de Belo Horizonte.
        </p>
        <p>
          Foi nesta década, em 1985, que o Grupo Aruanda fez sua primeira viagem
          internacional, para participar do VII Festival Internacional de Danzas
          Folclóricas (Festidanzas 85) na cidade de Arequipa, Peru.
        </p>
      </span>
      <span class="picture">
        <img
          src="assets/images/history/arequipa.jpg"
          alt="Foto do Aruanda em Arequipa, no Peru"
        />
        <p class="subtitle">
          Aruanda em Arequipa, Peru - foto de arquivo do Aruanda
        </p>
      </span>
    </article>

    <article class="sixth article-spacing">
      <p>
        Em 1987, o grupo foi convidado para representar o Brasil no Festival
        Mundial de Drummondville, no Canadá, onde apresentou 20 danças de seu
        repertório ao longo dos dez dias do festival.
      </p>
      <span class="picture">
        <span class="picture-group">
          <img
            src="assets/images/history/desfile-drummondville.jpg"
            alt="Desfile do Aruanda pelas ruas de Drummondville"
            class="parade"
          />
          <img
            src="assets/images/history/capa-jornal-festival-drummondville.jpg"
            alt="Aruanda na capa do L'Express, jornal do Festival de Drummondville"
          />
        </span>
        <p class="subtitle">
          Desfile nas ruas de Drummondville e capa do jornal do festival - foto
          de arquivo do Aruanda
        </p>
      </span>
    </article>

    <article class="seventh article-spacing">
      <p>
        A terceira viagem internacional do grupo foi feita em 1989. Uma turnê
        pela Europa passando pela França, Bélgica e Holanda. Na França, o Grupo
        Aruanda recebeu o prêmio “Joie de Vivre” – Alegria de Viver – em um
        reconhecimento pela alegria, a simpatia, a vitalidade e o poder de
        interação do grupo com o público francês.
      </p>
      <span class="picture">
        <img
          src="assets/images/history/folia-divino-dijon.jpg"
          alt="Foto da Folia do Divino, em Dijon, França"
        />
        <p class="subtitle">
          Folia do Divino, em Dijon, França - foto de arquivo do Aruanda
        </p>
      </span>
    </article>

    <article class="eigth article-spacing">
      <p>
        No início dos anos 1990, após participar dos tradicionais eventos
        promovidos pela Comissão Mineira de Folclore, em Belo Horizonte, o Grupo
        Aruanda seguiu para Olímpia, cidade paulistana, onde seria realizada a
        26ª edição de seu Festival Nacional de Folclore. Longas viagens do
        Aruanda pelo Brasil marcaram essa década: foram feitas apresentações na
        Vila de Carajás/PA, no Festival Nacional de Folclore de Laranjeiras/SE,
        no aniversário de fundação do município de Itumbiara/GO, na Semana
        Cultural de Ibiporã/PR e na Semana Brasileira da Pousada do Rio
        Quente/GO.
      </p>
      <span class="picture">
        <img
          src="assets/images/history/pousada-rio-quente.jpg"
          alt="Aruanda na Pousada do Rio Quente"
        />
        <p class="subtitle">
          Aruanda na Pousada do Rio Quente - foto de arquivo do Aruanda
        </p>
      </span>
    </article>

    <article class="nineth article-spacing">
      <span>
        <p>
          Em 2003, inspirado pelas transformações que o país começava a
          vivenciar e desejando contribuir para a melhoria da realidade social
          brasileira, o Aruanda decidiu abrir mais uma frente de atuação em seu
          trabalho de pesquisa e divulgação da cultura popular nacional:
          desenvolveu um programa de oficinas destinadas, inicialmente, a
          qualificar educadores. Posteriormente, essas oficinas foram ampliadas
          para grupos de crianças, adolescentes, idosos e mulheres.
        </p>
        <p>
          Os anos 2000 também foram marcados por viagens do grupo à Holanda,
          Bélgica, Grécia.
        </p>
      </span>
      <span class="picture">
        <img
          src="assets/images/history/festival-nikoleika-grecia.jpg"
          alt="Abertura do Festival de Folclore de Nikoleika, na Grécia"
        />
        <p class="subtitle">
          Festival de Folclore de Nikoleika, na Grécia - foto de arquivo do
          Aruanda
        </p>
      </span>
    </article>

    <article class="tenth article-spacing">
      <p>
        Em 2010, as comemorações dos 50 anos do Grupo Aruanda contaram com uma
        missa de ação de graças, celebrada na Praça Tom Jobim, e por quatro
        diferentes espetáculos oferecidos gratuitamente à população
        Belorizontina. No ano de seu cinquentenário, o grupo recebeu o Grande
        Colar do Mérito Legislativo Municipal da Câmara Municipal de Vereadores
        de Belo Horizonte; a Medalha de Honra da Inconfidência, em Ouro Preto,
        pelo governo de Minas Gerais; e a Ordem do Mérito Legislativo, entregue
        ao grupo pela Assembleia Legislativa de Minas Gerais.
      </p>
      <span class="picture">
        <img
          src="assets/images/history/condecoracoes-50-anos.jpg"
          alt="Condecorações pelos 50 anos de fundação do Aruanda"
        />
        <p class="subtitle">
          Condecorações pelos 50 anos de fundação do Aruanda - foto de arquivo
          do Aruanda
        </p>
      </span>
    </article>
  </div>

  <div class="reference article-spacing">
    Fonte: OLIVEIRA, Luís Wagner Cosse de.<br />
    Grupo Aruanda: 50 anos de história (1960-2010). Belo Horizonte: Ed. do
    Autor, 2015, 258p.<br />
    Tradução: Maria Evelina Rios Meyer.
  </div>
</div>
