@import 'src/styles/variables.scss';

.basic-container {
  padding-top: 15vh;
}

gallery {
  z-index: 0;
  background-color: $dark-gray;
}

.photo-title {
  font-family: $bebasNeue;
  font-size: 1.5em;
  letter-spacing: 0.5px;
}

@media only screen and (max-width: 600px) {
  ::ng-deep gallery {
    gallery-core {
      height: 350px;
    }
  }
}