@import 'src/styles/variables.scss';

.board-container {
  color: $white;
  font-family: $impact;
  letter-spacing: .5px;

  .members-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
    margin: 3% 0 10%;
  }

  .members {
    font-family: $robotoBold;

    border: 1px solid $orange;
    border-radius: 30px;

    width: 400px;
    height: 130px;

    img {
      border-radius: 65px;
    }

    .position {
      font-family: $roboto;
    }
  }
}