<div class="basic-container board-container d-flex flex-column align-items-center">
  <h1>DIRETORIA EXECUTIVA DO GRUPO ARUANDA</h1>
  <h3 class="mt-4">Quadriênio 2021/2025</h3>
    <div class="president-container pt-5">
      <div *ngFor="let member of boardMembers | slice:0:1" class="members d-flex">
        <img src={{member.img_url}} width="130" class="p-3">
        <div class="d-flex flex-column justify-content-center py-3">
          <span class="name pb-1">{{member.name}}</span>
          <span class="position">{{member.position}}</span>
        </div>
      </div>
    </div>
    <div class="members-container">
      <div *ngFor="let member of boardMembers | slice:1" class="members d-flex">
        <img src={{member.img_url}} width="130" class="p-3">
        <div class="d-flex flex-column justify-content-center py-3">
          <span class="name pb-1">{{member.name}}</span>
          <span class="position">{{member.position}}</span>
        </div>
      </div>
    </div>
</div>
