@import 'src/styles/variables.scss';

.board-container {
  color: $white;
  font-family: $impact;
  letter-spacing: .5px;

  .president-container {
    width: 25em;
  }

  .members-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
    margin: 3% 0 10%;
  }

  .members {
    font-family: $robotoBold;

    border: 2px solid $orange;
    border-radius: 30px;

    img {
      border-radius: 65px;
    }

    .position {
      font-family: $roboto;
    }
  }
}

@media only screen and (max-width: 820px) {
  .president-container {
    width: 23em !important;
  }

  .members-container {
    grid-template-columns: .8fr .8fr !important;
  }
}

@media only screen and (max-width: 600px) {
  h2 {
    text-align: center;
  }

  .president-container {
    width: 20em !important;
  }

  .members-container {
    display: flex !important;
    flex-direction: column;
    width: 20em !important;
    margin-top: 5% !important;

    .members {
      margin-bottom: 6%;
    }
  }
}