<div class="footer-container d-flex justify-content-center px-5 pt-5">
  <div class="map-container align-self-center">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3751.0754531391153!2d-43.93988868528804!3d-19.92122498660865!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xa699e4bf926b75%3A0xe0c93d990854425a!2sGrupo%20Folcl%C3%B3rico%20Aruanda!5e0!3m2!1sen!2sbr!4v1680549659723!5m2!1sen!2sbr"
      width="100%"
      height="100%"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade">
    </iframe>
  </div>
  <div class="vertical-line"></div>
  <div class="contact-info-container d-flex flex-column justify-content-between">
    <div class="address d-flex flex-column right-items">
      <span class="pb-3"
        >R. Espírito Santo, 757 - Centro, <br />
        Belo Horizonte - MG, 30160-033</span
      >
      <span class="pb-3">aruanda@grupoaruanda.com.br</span>
      <span>(31) 3222-4845</span>
      <span>(31) 99217-6171</span>
    </div>
    <div class="social-media-icons right-items d-flex justify-content-evenly">
      <a href="https://www.instagram.com/grupoaruanda/" target="_blank" >
        <fa-icon [icon]="instagram" class="fa-2x"></fa-icon>
      </a>
      <a href="https://www.facebook.com/grupofolcloricoaruanda" target="_blank">
        <fa-icon [icon]="facebook" class="fa-2x"></fa-icon>
      </a>
      <a href="https://wa.me/5531992176171" target="_blank">
        <fa-icon [icon]="whatsapp" class="fa-2x"></fa-icon>
      </a>
      <a href="https://www.youtube.com/@GrupoAruanda" target="_blank">
        <fa-icon [icon]="youTube" class="fa-2x"></fa-icon>
      </a>
    </div>
  </div>
</div>
<div class="credits-container d-flex flex-column align-items-end">
  <p>Desenvolvido por Yolanda Ornellas</p>
  <p>Design por Aline Vajalegre</p>
</div>
