@import 'src/styles/variables.scss';

.footer-container {
  background-color: $dark-gray;
  color: $yellow;
  height: 30vh;
  font-family: $roboto;

  .social-media-icons {
    gap: 10px;
  }

  a,
  &:link,
  &:visited {
    color: $yellow;
  }

  a:hover {
    color: $pink;
    transform: scale(1.2);
  }

  .phone-contact,
  .adress-contact {
    p {
      margin-bottom: 0;
    }
  }
}