<div class="footer-container container-fluid d-flex flex-column align-items-center justify-content-center">
  <div class="social-media-icons d-flex justify-content-center">
    <a href="https://www.instagram.com/grupoaruanda/" target="_blank" class="mr-3">
      <fa-icon [icon]="instagram" class="fa-2x"></fa-icon>
    </a>
    <a href="https://www.facebook.com/grupofolcloricoaruanda" target="_blank">
      <fa-icon [icon]="facebook" class="fa-2x"></fa-icon>
    </a>
    <a href="http://" target="_blank">
      <fa-icon [icon]="whatsapp" class="fa-2x"></fa-icon>
    </a>
    <a href="https://www.youtube.com/@GrupoAruanda" target="_blank">
      <fa-icon [icon]="youTube" class="fa-2x"></fa-icon>
    </a>
  </div>
  <div class="email-contact">
    <a href="mailto:aruanda@grupoaruanda.com.br">aruanda@grupoaruanda.com.br</a>
  </div>
</div>
