<div class="basic-container intro-text-container d-flex flex-column align-items-center justify-content-center">
  <h1 class="title text-center mt-4 mb-5">
    GRUPO ARUANDA: PESQUISA, PRESERVAÇÃO<br>
    E DIVULGAÇÃO DA CULTURA BRASILEIRA
  </h1>
  <div class="text text-center w-75 mt-4">
    <p>
      O Grupo Aruanda é um dos mais respeitados representantes da cultura popular do Brasil e se destaca 
      pela pesquisa, preservação e divulgação de danças, músicas e folguedos tradicionais brasileiros por 
      meio de sua projeção para a linguagem cênica.
    </p>
    <p>
      Fundado em 1960, o Aruanda é uma das mais antigas companhias de danças populares do Brasil, pioneira 
      no gênero em Minas Gerais e com atuação ininterrupta desde a sua criação. 
    </p>
    <p>
      Com sede em Belo Horizonte, o Grupo tem, atualmente, 60 integrantes voluntários, entre dançarinos e 
      musicistas, possui mais de 100 expressões culturais catalogadas, com suas respectivas coreografias e 
      músicas, e acumula cerca de 5 toneladas de trajes e adereços em seu acervo.
    </p>
  </div>
</div>
