@import 'src/styles/variables.scss';

.intro-text-container {
  background-color: $dark-gray;
  color: $white;

  .title {
    font-family: $bebasNeue;
    letter-spacing: 1px;
    color: $yellow;
  }

  .text {
    font-family: $robotoBold;
    font-size: 140%;
    letter-spacing: 0.5px;
  }
}

@media only screen and (max-width: 820px) {
  .intro-text-container {
    padding-top: 0;
  }
}

@media only screen and (max-width: 400px) {
  .intro-text-container {
    .title {
      padding: 0 1.5rem;
      margin-bottom: 1rem !important;
    }

    .text {
      font-size: 1.2rem;
    }

    p {
      margin-bottom: 1.5rem !important;
    }
  }
}